rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user-counts/total {
      allow read: if true;
      allow create: if request.resource.data.count is int
                    && request.resource.data.count == 1;
      allow update: if request.resource.data.count is int
                    && request.resource.data.count == resource.data.count + 1;
    }

    match /user-counts/{visitorId} {
      allow read: if true;
      allow create: if visitorId != "total"
                    && request.resource.data.number is int
                    && request.resource.data.number > 0;
      allow update, delete: if false;
    }
  }
}
